* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.menus-container {
    display: flex;
    justify-content: space-between;
    background-color: #e46a85;
    color: white;
    padding: 30px;
    align-items: center;


}

.menu>ol {
    display: flex;
    list-style: none;
    margin-right: 25px;

}

.item {

    margin-right: 50px;
}

.logo {
    margin-left: 80px;
}

/* banner part start */
.banner-img {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 100vh;
    padding-left: 200px;

}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 90px;
    background-color: #E554731A;
}

.title {
    font-size: 70px;


}

.paragraph {
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    padding: 30px 0px 30px 0px;


}

.btn {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    width: 100px;
    height: 44px;
    color: white;
    align-items: flex-start;
    cursor: pointer;

}

/* banner part end  */

.section-1 {
    text-align: center;
    margin-top: 50px;

}

.section-1 h1 {

    font-weight: 800;
    font-size: 40px;

}

.paragraph-2 {
    font-size: 18px;
    padding: 24px 0px;
    line-height: 25px;
    color: rgba(39, 39, 39, 0.60);

}

.hot-box{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #E554730D;
    margin-left: 100px;
}

.hot-title{
    font-size: 40px;
    font-weight: 900;
   
}
.paragraph-title{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0px 10px 0px;
}

.img-2{
    width: 318px;
    height: 420px ;
}


